---
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Left
UseTab: Never
